@model IEnumerable<WebApplication2.Models.tblAppointment>

@{
    ViewBag.Title = "Administrator View";
}

<h2>Administrator View</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appointment_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment_Room)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.tblDoctor.Doctor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblPatient.Patient_Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment_Room)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.tblDoctor.Doctor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblPatient.Patient_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Appointment_Code }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Appointment_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Appointment_Code })*@
        </td>
    </tr>
}

</table>
