@model WebApplication2.Models.tblDoctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDoctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_ContactNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_ContactNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_ID_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_ID_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Doctor_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
